@model Ribosoft.Models.Design

@{
    ViewData["Title"] = "Design Details";
}

<h2>Design Details</h2>

<div>
    <h4>Design</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sequence)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TemperatureScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TemperatureScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecializationScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecializationScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessibilityScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessibilityScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StructureScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StructureScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Download
        </dt>
        <dd>
            @Html.ActionLink("FASTA File", "DownloadFile", new { jobID=Model.JobId, rank=Model.Rank, temperatureScore=Model.TemperatureScore, specializationScore=Model.SpecializationScore, accessibilityScore=Model.AccessibilityScore, structureScore=Model.StructureScore, createdAt=Model.CreatedAt, updatedAt=Model.UpdatedAt, sequence=Model.Sequence})
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Jobs" asp-action="Details" asp-route-id="@Model.JobId">Back to Job</a>
</div>
