@model IEnumerable<Ribosoft.Models.Ribozyme>

@{
    ViewData["Title"] = "Ribozymes";
}

<h1 class="my-3">Ribozyme management</h1>

<div class="card my-3 box-shadow">
    <div class="card-body">
        <h5 class="float-md-left card-title">Ribozymes</h5>
        <div class="float-md-right"><a class="btn btn-sm btn-primary" asp-action="Create">Create <i class="fas fa-plus-circle ml-1"></i></a></div>
        
        <div class="table-responsive mb-0">
            <table class="table table-hover mb-0">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                        </td>
                        <td class="text-right">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details <i class="fas fa-info-circle ml-1"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>