@model Ribosoft.Models.RibozymeStructure

<tbody>
    <tr>
        <td rowspan="2">
            @Html.DisplayFor(model => model.Cutsite)
        </td>
        <td>
            <code>@Html.DisplayFor(model => model.Sequence)</code>
        </td>
        <td>
            <code>@Html.DisplayFor(model => model.SubstrateTemplate)</code>
        </td>
        <td rowspan="2">
            @Html.DisplayFor(model => model.PostProcess)
        </td>
        @if (User.IsInRole("Administrator"))
        {
            <td rowspan="2" class="text-right">
                <a asp-controller="RibozymeStructures" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary">Edit</a>
                <a asp-controller="RibozymeStructures" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        }
    </tr>
    <tr>
        <td>
            <code>@Html.DisplayFor(model => model.Structure)</code>
        </td>
        <td>
            <code>@Html.DisplayFor(model => model.SubstrateStructure)</code>
        </td>
    </tr>
</tbody>