@model Ribosoft.Models.RequestViewModels.RequestViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Ribosoft.Extensions

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create a new request";
}

<h1 class="my-3">@ViewData["Title"]</h1>

<div id="app">
    <form method="post">

        @if (Model.ExceededMaxRequests)
        {
            <div class="alert alert-danger box-shadow" role="alert">
                <h5 class="alert-heading"><i class="fas fa-exclamation-triangle mr-1"></i> Request limit exceeded</h5>
                <p class="mb-0 mt-3">You've exceeded your request limit (@Model.MaxRequests). Please delete some requests and try again. This request will not be saved.</p>
            </div>
        }

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger box-shadow" role="alert">
                <h5 class="alert-heading"><i class="fas fa-exclamation-triangle mr-1"></i> Some errors were encountered</h5>
                @foreach (var modelState in ViewData.ModelState.Values)
                {
                    foreach (var error in modelState.Errors)
                    {
                        <p class="mb-0 mt-3">@error.ErrorMessage</p>
                    }
                }
            </div>
        }

        <!-- Ribozyme Selection -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2">Ribozyme</h6>

            <div class="form-group mb-0">
                <label asp-for="RibozymeStructure"></label>
                <v-select label="ribozymeOptions" :options="options" id="ribozymes" :on-change="ribozymeId"></v-select>
                <datalist id="ribozymeList">
                    @foreach (var item in ViewBag.Ribozymes)
                    {
                        <option value="@item.Text" data-value="@item.Value"></option>
                    }
                </datalist>
                <input asp-for="RibozymeStructure" type="hidden" value="-1">
                <span asp-validation-for="RibozymeStructure" class="text-danger"></span>
            </div>
        </div>

        <!-- Sequence Selection -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2">RNA sequence</h6>

            <div class="form-group" id="inputSequenceFormGroup">
                <label asp-for="InputSequence"></label>
                <span data-toggle="tooltip" data-placement="right" title="@Localizer["InputSequenceTooltip"]"><i class="fas fa-question-circle text-info"></i></span>
                <textarea asp-for="InputSequence" class="form-control @ViewData.ModelState.InvalidFieldClass("InputSequence")" placeholder="CUUGAAGUGGUU..." :disabled="genbankLoading" rows="6" id="inputSequence"></textarea>
                <span asp-validation-for="InputSequence" class="invalid-feedback"></span>
            </div>

            <div class="form-group form-inline">
                <label class="btn btn-sm btn-secondary" for="FASTAfileInput">Upload a FASTA file</label>
                <input type="file" class="form-control-file d-none" value="Use FASTA file" v-on:change="processFASTAfile" :disabled="genbankLoading" id="FASTAfileInput">
                <span class="mx-2">or</span>
                <label class="sr-only" for="accesionNumber">Get sequence from GenBank by accession number</label>
                <input type="text" class="form-control form-control-sm" id="accesionNumber" :disabled="genbankLoading" placeholder="Accession number">
                <button type="button" class="btn btn-sm btn-secondary mx-1" v-on:click="getFromGenbank" :disabled="genbankLoading">Search</button>
                <span data-toggle="tooltip" data-placement="right" title="@Localizer["GenBankTooltip"]"><i class="fas fa-question-circle text-info"></i></span>
                <span class="ml-1" v-if="genbankLoading" v-cloak><i class="fas fa-circle-notch fa-spin"></i></span>
                <span class="text-danger ml-1" v-cloak>{{ genbankStatus }}</span>
            </div>

            <div class="form-row mb-0">
                <div class="form-group col-md-6 mb-0">
                    <label asp-for="OpenReadingFrameStart"></label>
                    <span data-toggle="tooltip" data-placement="right" title="@Localizer["ORFStartTooltip"]"><i class="fas fa-question-circle text-info"></i></span>
                    <input asp-for="OpenReadingFrameStart" class="form-control" min="0" :disabled="genbankLoading">
                    <span asp-validation-for="OpenReadingFrameStart" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 mb-0">
                    <label asp-for="OpenReadingFrameEnd"></label>
                    <span data-toggle="tooltip" data-placement="right" title="@Localizer["ORFEndTooltip"]"><i class="fas fa-question-circle text-info"></i></span>
                    <input asp-for="OpenReadingFrameEnd" class="form-control" min="0" :disabled="genbankLoading">
                    <span asp-validation-for="OpenReadingFrameEnd" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- Regions for Target Design -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="clearfix border-bottom border-gray mb-2">
                <h6 class="float-md-left">Target regions <span data-toggle="tooltip" data-placement="right" title="@Localizer["TargetRegionsTooltip"]"><i class="fas fa-question-circle text-info"></i></span></h6>
            </div>

            <div class="form-group mb-0">
                @for (var i = 0; i < Model.TargetRegions.Length; i++)
                {
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" asp-for="@Model.TargetRegions[i].Selected">
                        <label class="form-check-label" asp-for="@Model.TargetRegions[i].Selected">@Model.TargetRegions[i].Name</label>
                        <input type="hidden" asp-for="@Model.TargetRegions[i].Id"/>
                        <input type="hidden" asp-for="@Model.TargetRegions[i].Name"/>
                    </div>
                }
                <span asp-validation-for="TargetRegions" class="text-danger"></span>
            </div>
        </div>

        <!-- Target Environment -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2">Target environment</h6>

            <div class="form-group mb-0">
                @foreach (var item in Model.TargetEnvironments)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="SelectedTargetEnvironment" type="radio" value="@item.Value" v-on:change="targetEnvironment" id="targetEnvironment@(item.Value)">
                        <label class="form-check-label" for="targetEnvironment@(item.Value)">@item.Name</label>
                    </div> 
                }
                <span asp-validation-for="SelectedTargetEnvironment" class="text-danger"></span>
            </div>

            <div class="form-group mt-2 border-top pt-2" v-show="inVivoSelected">
                <label asp-for="InVivoEnvironment"></label>
                <v-select :options="inVivoOptions" id="environments" :on-change="vivoEnvironment"></v-select>
                <datalist id="environmentList">
                    @foreach (var item in ViewBag.Assemblies)
                    {
                        <option value="@item.Text" data-value="@item.Value"></option>
                    }
                </datalist>
                <input asp-for="InVivoEnvironment" type="hidden" value="-1">
                <span asp-validation-for="InVivoEnvironment" class="text-danger"></span>
            </div>

            <div class="form-group mb-0" v-show="inVivoSelected">
                @foreach (var item in Model.SpecificityMethods)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="SelectedSpecificityMethod" type="radio" value="@item.Value" id="specificity@(item.Value)">
                        <label class="form-check-label" for="specificity@(item.Value)">@item.Name</label>
                    </div> 
                }
                <span asp-validation-for="SelectedSpecificityMethod" class="text-danger"></span>
                <span data-toggle="tooltip" data-placement="right" title="@Localizer["SpecificityTooltip"]"><i class="fas fa-question-circle text-info"></i></span>
            </div>
        </div>

        <!-- Environment Properties -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2">Environment properties</h6>

            <div class="form-group">
                <label asp-for="Temperature"></label>
                <input asp-for="Temperature" type="text" class="form-control @ViewData.ModelState.InvalidFieldClass("Temperature")">
                <span asp-validation-for="Temperature" class="invalid-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="Na"></label>
                <input asp-for="Na" type="text" class="form-control @ViewData.ModelState.InvalidFieldClass("Na")">
                <span asp-validation-for="Na" class="invalid-feedback"></span>
            </div>
            <div class="form-group mb-0">
                <label asp-for="Probe"></label> <span data-toggle="tooltip" data-placement="right" title="@Localizer["ProbeTooltip"]"><i class="fas fa-question-circle text-info"></i></span>
                <input asp-for="Probe" type="text" class="form-control @ViewData.ModelState.InvalidFieldClass("Probe")">
                <span asp-validation-for="Probe" class="invalid-feedback"></span>
            </div>
        </div>

        <!-- Advanced Settings -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <label class="showMore border-bottom border-gray pb-2" for="advancedSettings">Advanced settings</label>
            <input id="advancedSettings" type="checkbox">
            <div>
                <div class="form-group">
                    <label asp-for="DesiredTemperatureTolerance"></label>
                    <input asp-for="DesiredTemperatureTolerance" type="text" class="form-control @ViewData.ModelState.InvalidFieldClass("DesiredTemperatureTolerance")">
                    <span asp-validation-for="DesiredTemperatureTolerance" class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SpecificityTolerance"></label>
                    <input asp-for="SpecificityTolerance" type="text" class="form-control @ViewData.ModelState.InvalidFieldClass("SpecificityTolerance")">
                    <span asp-validation-for="SpecificityTolerance" class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccessibilityTolerance"></label>
                    <input asp-for="AccessibilityTolerance" type="text" class="form-control @ViewData.ModelState.InvalidFieldClass("AccessibilityTolerance")">
                    <span asp-validation-for="AccessibilityTolerance" class="invalid-feedback"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StructureTolerance"></label>
                    <input asp-for="StructureTolerance" type="text" class="form-control @ViewData.ModelState.InvalidFieldClass("StructureTolerance")">
                    <span asp-validation-for="StructureTolerance" class="invalid-feedback"></span>
                </div>
            </div>
        </div>

        <!-- Potential Cut Sites -->
        @* <div class="panel panel-default"> *@
        @*     <div class="panel-heading" v-on:click="expand('cutSiteTitle', 'cutSiteBody')"> *@
        @*         <h3 id="cutSiteTitle" class="panel-title collapsed">Potential Cut Sites</h3> *@
        @*     </div> *@
        @*     <div id="cutSiteBody" class="panel-body collapse"> *@
        @*         <div class="form-group"> *@
        @*             <label asp-for="CutSites">Cut Sites:</label> *@
        @*             <select multiple asp-for="CutSites" class="form-control"> *@
        @*                 <option v-for="cutSite in cutSites">{{ cutSite }}</option> *@
        @*             </select> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

        <input type="submit" class="btn btn-primary btn-block" value="Submit request">
    </form>
</div>

@section scripts{
    <script src="~/dist/request.js"></script>

    <script>
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}