@model Ribosoft.Models.RequestViewModel;
@{
    ViewData["Title"] = "Request Design Page";
}

<div class="container body-content" id="app">
    <h2>@ViewData["Title"]</h2>
    <hr/>
    <form method="POST">
        <div class="panel panel-default">
            <div class="panel-heading" v-on:click="expand('sequenceTitle', 'sequenceBody')">
                <h3 id="sequenceTitle" class="panel-title">Sequence Selection</h3>
            </div>
            <div id="sequenceBody" class="panel-body">
                <div class="form-group">
                    <!-- TODO: Redo and populate from C# not JS -->
                    <label asp-for="RibozymeStructure">Ribozyme Structure:</label>
                    <select asp-for="RibozymeStructure" id="ribo-type" class="form-control">
                        <option v-for="ribozyme in ribozymes">{{ ribozyme }}</option>
                    </select>
                    <span asp-validation-for="RibozymeStructure" class="text-danger"></span>
                </div>

                <div class="form-group" id="inputSequenceFormGroup">
                    <label asp-for="InputSequence">Input Sequence:</label>
                    <textarea asp-for="InputSequence" class="form-control" placeholder="Input a Sequence" rows="10" id="inputSequence" v-on:change="validateSequence">
                    </textarea>
                </div>

                <div class="form-group">
                    <label for="FASTAfileInput">Input Sequence from FASTA File</label>
                    <div>
                        <label class="btn btn-default btn-file">
                            Use FASTA File
                            <input type="file" v-on:change="processFASTAfile" style="display: none;" id="FASTAfileInput"> <!-- TODO: move style to css -->
                        </label>    
                    </div>
                </div>

                <div class="form-group">
                    <label for="BLASTinput">Get Sequence from BLAST:</label>
                    <div id="BLASTinput">
                        <input type="text"> <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" v-on:click="expand('targetRegionTitle', 'targetRegionBody')">
                <h3 id="targetRegionTitle" class="panel-title collapsed">Regions for Target Design</h3>
            </div>
            <div id="targetRegionBody" class="panel-body collapse">
                <label asp-for="TargetRegions"></label>
                <div>
                    @for (var i = 0; i < Model.TargetRegions.Length; i++)
                    {
                        <div class="checkbox">
                            <label asp-for="@Model.TargetRegions[i].Selected">
                                <input type="checkbox" asp-for="@Model.TargetRegions[i].Selected">
                                @Model.TargetRegions[i].Name
                            </label>
                            <input type="hidden" asp-for="@Model.TargetRegions[i].Id" />
                            <input type="hidden" asp-for="@Model.TargetRegions[i].Name" />
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" v-on:click="expand('targetEnviornmentTitle', 'targetEnviornmentBody')">
                <h3 id="targetEnviornmentTitle" class="panel-title collapsed">Target Environment</h3>
            </div>
            <div id="targetEnviornmentBody" class="panel-body collapse">
                <div class="form-group">
                    <label asp-for="TargetEnvironment">Method:</label>
                    <div asp-for="TargetEnvironment" id="targetEnvironmentMethod">
                        <div class="radio" v-for="method in targetEnvironmentMethods">
                            <label><input type="radio" name="optradio" v-on:change="targetEnvironment">{{ method }}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" v-if="inVivoSelected">
                    <label asp-for="InVivoEnvironment">Environment:</label>
                    <select asp-for="InVivoEnvironment" id="targetEnvironment" class="form-control">
                        <option v-for="environment in targetEnvironments">{{ environment }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" v-on:click="expand('propertiesTitle', 'propertiesBody')">
                <h3 id="propertiesTitle" class="panel-title collapsed">Environment Properties</h3>
            </div>
            <div id="propertiesBody" class="panel-body collapse">
                <div class="form-group" v-for="v in targetEnvironmentVariables">
                    <label v-bind:for="v.id">{{ v.variable+" ("+v.unit+")" }}:</label>
                    <input v-bind:id="v.id" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" v-on:click="expand('cutSiteTitle', 'cutSiteBody')">
                <h3 id="cutSiteTitle" class="panel-title collapsed">Potential Cut Sites</h3>
            </div>
            <div id="cutSiteBody" class="panel-body collapse">
                <div class="form-group">
                    <label asp-for="CutSites">Cut Sites:</label>
                    <select multiple asp-for="CutSites" class="form-control">
                        <option v-for="cutSite in cutSites">{{ cutSite }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" v-on:click="expand('specificityTitle', 'specificityBody')">
                <h3 id="specificityTitle" class="panel-title collapsed">Specificity</h3>
            </div>
            <div id=specificityBody class="panel-body collapse">
                <div class="form-group">
                    <label asp-for="Specificity">Method:</label>
                    <div asp-for="Specificity" id="specificityMethod">
                        <div class="radio" v-for="method in specificityMethods">
                            <label><input type="radio" name="specificityRadio">{{ method }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" />
    </form>
</div>

@section scripts{
    <script src="~/js/Request/request.js"></script>
}