@model Ribosoft.Models.Job

@{
    ViewData["Title"] = "Cancel Job";
    var shouldCancel = Model.IsInProgress();
}

<h2>@(shouldCancel ? "Cancel" : "Delete") Job</h2>

<h3>Are you sure you want to @(shouldCancel ? "cancel" : "delete") this job?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RNAInput)
        </dt>
        <dd>
            <textarea rows="4" cols="80" readonly="readonly">@Model.RNAInput</textarea>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ribozyme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ribozyme.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@(shouldCancel ? "Cancel" : "Delete")" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
